# OS
.DS_Store
Thumbs.db

# Node
node_modules/
npm-debug.log*
.env
.env.*
!.env.example

# Flutter/Dart
.dart_tool/
.packages
.flutter-plugins
.flutter-plugins-dependencies
build/
pubspec.lock
.idea/
*.iml

# Local data
*.sqlite
uploads/
storage/
