# Secrets
.env
.env.*
!.env.example

# Node
node_modules/
npm-debug.log*

# Flutter/Dart
.dart_tool/
build/
.flutter-plugins
.flutter-plugins-dependencies
.packages

# Backend build
dist/

# IDE
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db
